:root {
    --primary: #cee5ed;
    --secondary: #2e2e2e;
    --dark: #212121;
    --light: #f3f3f3;
}

body {
    font-family: Helvetica;
    width: 100%;
    min-height: 100vh;
    background-color: #2c2c2c;
    align-content: center;
}

.navbar {
    overflow: hidden;
    background-color: #454545;
    font-family: Arial;
}
.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.dropdown {
float: left;
overflow: hidden;
}
.dropdown .dropbtn {
font-size: 16px; 
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: red;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {
background-color: #ddd;
}
.dropdown:hover .dropdown-content {
display: block;
}

.quizQuestions {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 1200px;
    height: 700px;
    border-radius: 16px;
    background-image: linear-gradient(to bottom right, #cee5ed 10%, #2e2e2e 100%);
    align-content: center;
}
.quizQuestions h2 {
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
#question {
    font-size: 48px;
    text-align: center;
}
#questionNum {
    font-size: 48px;
    text-align: center;
}
#answerViewer, #answerText, #answer {
    font-size: 22px;
    text-align: center;
}
#answerTextTwo {
    font-size: 16px;
    text-align: center;
}
.correctAnswer {
    display: flex;
    justify-content: center;
    font-size: 22px;
}
#answerViewer {
    margin-left: 38.5%;
}
.buttons {
    width: 1200px;
    height: 30px;
    display: flex;

}
#checkAnswer {
    width: 150px;
    border-radius: 20px;
    padding: 0.5px;
    margin-bottom: -20px;
    margin-left: 1%;
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    justify-self: start;
}
#nextQuestion {
    width: 150px;
    border-radius: 20px;
    padding: 0.5px;
    margin-bottom: -20px;
    margin-left: 73%;
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    justify-self: end;
}







